<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This Application/Website was made on 13th July 2019.</p>
        <p>It uses a couple of API requests.</p>
        <p>Tenki means Weather.</p>
    </div>
    
    {{>footer}}
</body>

</html>